#### Final Project: Rick & Morty analysis

# Phase 2: Build the graph

In [5]:
# imports
import pandas as pd
import ast
import networkx as nx

## Download previous files

In [3]:
df_characters = pd.read_csv("RaM_characters_wRelations.csv")

In [6]:
def add_node(row, aGraph):
    """ Add the node given in row to global network """
    aGraph.add_node(row.Name)

def add_edges(row, aGraph):
    """ Add all edges which concern given character in row"""
    char_name = row.Name
    char_relations = ast.literal_eval(row.Relations)
    for aTargetRelation in char_relations:
        aGraph.add_edge(char_name,aTargetRelation)

In [7]:
# Create the associate graph with all attributes : role, race, genre, contentLength
G = nx.DiGraph()
_ = df_characters.apply(add_node, args=(G,), axis=1)
_ = df_characters.apply(add_edges, args=(G,), axis=1)

# Extract the Giant Connected Component, GCC
GCC = nx.weakly_connected_components(G)
GCC = list(GCC)
GCC.sort(key=len)
concerned_nodes = GCC[-1]

GCC = G.subgraph(concerned_nodes).copy()

# make G undirected
GU = G.to_undirected()

In [15]:
# store in and out degree
df_characters['in_degree'] = df_characters['Name'].map(dict(G.in_degree))
df_characters['out_degree'] = df_characters['Name'].map(dict(G.out_degree))

In [22]:
df_characters.sort_values('in_degree',ascending=False)[['Name','out_degree','in_degree']].head(10)

                 Name  out_degree  in_degree
387      Rick Sanchez          40        272
304       Morty Smith          36        240
546       Jerry Smith          26         85
466      Summer Smith          30         73
42         Beth Smith          25         64
140        Evil Morty           8         29
87   Council of Ricks          14         27
479    Tammy Guterman          11         26
53         Birdperson           8         24
192      Gromflomites           7         23

In [23]:
df_characters.sort_values('out_degree',ascending=False)[['Name','out_degree','in_degree']].head(10)

                                      Name  out_degree  in_degree
387                           Rick Sanchez          40        272
304                            Morty Smith          36        240
466                           Summer Smith          30         73
546                            Jerry Smith          26         85
42                              Beth Smith          25         64
291                       Memory Parasites          20         16
469  Summer Smith (Cronenberged dimension)          19         10
204                             Hemorrhage          18         16
232   Jerry Smith (Cronenberged dimension)          15         16
302                              Morty Jr.          15         18